/* Quiz App Style */
.quiz-sec {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.quiz-box {
  margin-top: 5rem;
  width: 50rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.12);
  align-self: flex-start;
  background-color: #242d4c;
  color: #fff;
  padding: 3rem 2rem;
}

.full-score {
  background-color: rgb(33, 158, 52);
}

.answers {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.4rem;
}

.answer {
  border: 1px solid rgba(202, 212, 248, 0.242);
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  border-radius: 0.8rem;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.answer:hover {
  background-color: rgba(202, 212, 248, 0.242);
  transform: scale(1.02);
}
